/* Course Title */
.center {
	text-align:center;
}

/* About the Instructor Section */
.blurb {
	border:1px;
	border-style: solid;
	border-radius: 5px;
	margin:5px;
}

.instructor {
	margin-top:10px;
	margin-bottom:5px;
	width:120%;
	float:left;
}

/*  VIDEOS PLAYLIST  */
.vid-list-container {
	width: 100%;
	overflow-x: scroll;
	padding-bottom: 20px;
}

.vid-list {
	width: calc(var(--vids) * 148px);
	position: relative;
	top:0;
	left: 0;
}

.vid-item {
	display: block;
	width: 148px;
	height:150px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	height: 84px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -6px;
}

.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}

.vid-item:hover {
	background: #eee;
	cursor: pointer;
}